[Unit]
Description=Check health of all the nodes
After=network.target

[Service]
Type=simple
User=root
Environment=LOGFILE=/tmp/health.log
ExecStartPre=/bin/echo "[`date`]" Health check starting >> ${LOG_FILE}
ExecStart=/bin/bash base.sh
ExecStop=/bin/echo "[`date`]" Health check stopping >> ${LOG_FILE}
StandardOutput=null
StandardError=journal
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
